@media screen and (max-width: 800px)
{
    div.page-wrapper
    {
        width: 96vw;
    }

    .header
    {
        height: 5vh;
    }

    .header>#logo>a>h1
    {
        font-size: 4vw;
        margin-top: 1%;
        margin-bottom: 0;
    }

    .header>#logo>a>p
    {
        font-size: 2.7vw;
        margin-top: -0.7vw;
    }

    .header>#menu
    {
        position: relative;
        text-align: center;
        bottom: 2vh;
        width: 71%;
    }

    .header>#menu>nav>ul>li>a
    {
        font-size: 3vw;
    }

    .stats-section
    {
        top: 7vh;
        width: 40vw;
        margin: 1vw 30vw;
        text-align: left;
    }

    .stats-section h1
    {
        font-size: 1.8vw;
        margin-left: 1vw;
    }
    .stats-section p
    {
        font-size: 1.8vw;
    }
    .stats-section>div
    {
        width: 100%;
        margin: .5vw auto;
    }
    .stats-section>div>div:first-of-type
    {
        width: 60%;
        display: inline-block;
        float: left;
        margin-left: 2.5%;
    }
    .stats-section>div>div:last-of-type
    {
        width: 35%;
        display: inline-block;
        float: right;
        text-align: right;
        margin-right: 2.5%;
    }
    .stats-section input[type=button]
    {
        width: 20vw;
        height: 4.5vw;
        font-size: 1.7vw;
        margin: 0.5vh 12vw;
    }

    #game-container
    {
        position: relative;
        display: flex;
        float: none;
        top: 6vh;
        margin: 0 auto;
        width: auto;
        height: auto;
    }

    #game-area
    {
        position: static;
        float: none;
        margin: 0 auto;
        width: 90vw;
        height: 180vw;
    }
}