.jumbotron img {
    height: 123px;
    width: 104px;
}

.jumbotron h1 {
    display: inline-block;
}

.container-fluid:nth-child(2) {
    background-image: url('images/crowd.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 72vh;
}

#wrapper {
    height: 50vh;
    width: 14%;
    background-color: black;
    color: aliceblue;
    position: absolute;
    top: 25vh;

}
#game-area {
      position: relative;
      width: 65vw;
      display: inline-block;
      margin-left: 26%;
}


.card {
    position: relative;
    padding:0;
    width: 9vw;
    height: 21vh;
    margin: 1em .5em;
    display: inline-block;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front img {
    width: 100%;
    height: 100%;
}

.back img{
    width: 100%;
    height: 100%;
}

/*
.two_faces:hover > .backcard {
    transform: rotateY(-180deg) perspective(1000px);
    transition-duration: 2s;
    backface-visibility: hidden;
}

.frontcard {
    transform: rotateY(180deg);
}

.two_faces:hover > .frontcard {
    transform: rotateY(0deg) perspective(1000px);
    transition-duration: 2s;
}
*/