body{
    background-image: url("images/background_silicon.jpg");
    background-size: cover;
    background-position: 100% 100%;
    background-position: 23%;
}
.navbar-inverse .navbar-brand {
    color: #f91002;
    text-shadow: 0 1px 2px #f9ceb1;
}



.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #f91002;
    text-shadow: 0 1px 1px #f9ceb1;
}

.navbar-inverse .navbar-toggle {
    border-color: #f9ceb1;
}

.navbar-inverse .navbar-nav>li>a {
    color:#f91002;

}
.game-area{
    min-height: 100vh;
    padding-top: 10%;
}

.game-info ul{
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.game-info ul li{
    display: inline-block;
    font-size: 4.2vw;
    color: #f91002;
    text-shadow: 0 1px 4px #009746;
}

.game-info .container-fluid{
    position: relative;
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 5%;
    border: 1px solid #00d95d;
}
.btn {
    border: 5px outset rgb(240, 236, 236);
    border-radius: 7px;
    background: linear-gradient(#00d95d, #009746);
    color: white;
}

.btn:focus{
    border: 5px inset rgb(240, 236, 236);
    border-radius: 7px;
    background: linear-gradient(#00d95d, #009746 34%);
    color: white;
    outline: 0;
}

.btn:hover{
    background: linear-gradient(#00d95d 50%, #009746);
}
.card{
    height: 12em;
    width: 100%;
    position: relative;
    margin: 7% 0;
    perspective: 300px;
    max-width: 160px;
}

.front, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s;
    border-radius: 5%;

}

.front{
    backface-visibility: hidden;
}

.card.clicked >.front, .card.clicked >.back{
     transform: rotateY(180deg);
 }

.game-board .row >.col-xs-4, .game-board .row>.col-sm-3{
    padding-right: 7px;
    padding-left: 7px;
}



/*large width*/
@media screen and (min-width: 992px){
    .game-info ul li  {
        display: inline-block;
        font-size: 2.6vw;
    }

    .game-board .row >.col-xs-4, .game-board .row>.col-sm-3 {
        padding-right: .5%;
        padding-left: .5%;
    }

    .game-info ul li, .game-info .btn{
        margin: 12% 0;
    }
}


/*small width*/
@media screen and (max-width: 547px){
    .game-area{
        padding-top: 20%;
    }
}