body {
    background-image: url("http://i.ytimg.com/vi/uip1tBrRtws/maxresdefault.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.rest:hover, .nav > li > a:hover {
    background-color: transparent;
}

.intro {
    padding: 5%;
    text-align: center;
    font-size: 2em;
    font-family: 'Paytone One', sans-serif;
}

.intro h1 {
    font: 1.5em 'Paytone One', sans-serif;
}

nav {
    float: right;
}
.navbar {
    margin-bottom: -150px;
}

ul li a {
    text-decoration: none;
    font-size: 2em;
    color: purple;

}

.well, .well a {
    background: transparent;
    border: 5px solid #000;
    color: #fff;
}

.card .front {
    position: absolute;
    /*   transform: rotateY(180deg);
       backface-visibility: hidden;
       transition: transform .5s linear 0s; */
}

.card .back {
    position: absolute;
    /*   transform: rotateY(0deg);
       backface-visibility: hidden;
       transition: transform .5s linear 0s;*/
}

/*
.card:hover > .front {
    transform: rotateY(0deg);
}
.card:hover > .back {
    transform: rotateY(180deg);
}*/

.bottom_row {
    margin-top: 20%;
}

.hook {
    position: absolute;
    top: -380px;
    transition-timing-function: ease-in-out;
}

@keyframes mymove {
    0% {
        left: 0px;
        top: -380px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: -380px;
    }
}

@-webkit-keyframes mymove {
    0% {
        left: 0px;
        top: -380px;
    }
    50% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: -380px;
    }
}

.hook {

    -webkit-animation: mymove 25s infinite; /* Chrome, Safari, Opera */
    animation: mymove 25s infinite;

}

.sharkBody {
    width: 50px;
    position: absolute;
    top: 500px;
    margin-left: 600px;
    animation: shark 25s;
    animation-fill-mode: forwards;
}

.sharkTail {
    width: 60px;
    position: absolute;
    top: 317px;
    margin-left: 1334px;
    animation: tail_fin 1s infinite;
    animation-delay: 26s;
    visibility: hidden;

}

@keyframes tail_fin {
    0% {
        visibility: visible;
    }
    50% {
        transform: rotateY(15deg);
    }
    100% {
        transform: rotateY(0deg);
    }

}

@keyframes shark {
    0% {
        width: 50px;
        left: 0px;
        top: 10px;
    }
    45% {
        width: 100px;
        margin-left: 700px;
        top: 100px;
    }
    50% {
        width: 300px;
        margin-left: 600px;
        top: 200px;
    }
    60% {
        width: 350px;
        margin-left: 1160px;
        top: 300px;
    }
    60% {
        width: 350px;
        margin-left: 900px;
        top: 300px;
    }
    80% {
        width: 300px;
        margin-left: 1100px;
        top: 300px;
    }
    90% {
        width: 300px;
        margin-left: 1160px;
        top: 300px;
    }
    100% {
        width: 300px;
        margin-left: 1100px;
        top: 300px;
    }
}


@keyframes bubble {
    0% {
        left: 0px;
        bottom: 0px;
    }
    100% {
        left: 0px;
        bottom: 1200px;
    }
}

.card img, .cards {
    width: 120px;
    height: 144px;
    overflow: hidden;
}

.about_bubble {
    width: 120px;
    opacity: .8;
    margin-top: 35%;
}

.about_pic {
    width: 600px;
    margin: 0 20%;
    opacity: .8;
}

.bubbles {
    opacity: .5;
    position: absolute;
    bottom: 0px;
    margin-left: 1200px;
}

.big_bubble {
    width: 30px;

}

.md_bubble {
    width: 20px;

}

.sm_bubble {
    width: 15px;

}

.bubble1 {
    margin-left: 1200px;
    animation: bubble 120s infinite;
}

.bubble2 {
    margin-left: 180px;
    animation: bubble 95s infinite;
}

.bubble3 {
    margin-left: 260px;
    animation: bubble 90s infinite;
}

.bubble4 {
    margin-left: 1100px;
    animation: bubble 60s infinite;
}

.bubble5 {
    margin-left: 580px;
    animation: bubble 90s infinite;
}

.bubble6 {
    margin-left: 660px;
    animation: bubble 75s infinite;
}

.bubble7 {
    margin-left: 270px;
    animation: bubble 100s infinite;
}

.bubble8 {
    margin-left: 710px;
    animation: bubble 95s infinite;
}

.bubble9 {
    margin-left: 1080px;
    animation: bubble 60s infinite;
}

.bubble10 {
    margin-left: 860px;
    animation: bubble 100s infinite;
}

.match {
    opacity: .4;
}

.win_container {
    text-align: center;
    height:40px;
}

#win, .play_again {
    visibility: hidden;
    font-size: 3.5em;
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    text-shadow: 2px 5px 3px orangered;
    cursor: pointer;
}

.hide, .match_hide {
    visibility: hidden;
}