#extras{
    display:inline-block;
    position:relative;
    left:0px;
    bottom:0px;
    margin-left:15px;
    font-size:20px;
    margin-right:20px;
    width:78vw;
}

a{
     color:white;
     text-shadow: 7px 7px 7px red;
     display:inline-block;
     font-family: 'Marck Script', cursive;
     font-size:25px;
     text-decoration: none;
     margin-left:1vw;
 }
a:hover{
     color:red;
 }
h1{
     color:white;
     text-shadow: 7px 7px 7px red;
     display:inline;
     font-family: 'Marck Script', cursive;
     font-size:5vw;
     position:absolute;
     right:-61%;
     top:38%;
     animation: neon1 1.5s ease-in-out infinite alternate;
 }
h2{
     color:white;
     text-shadow: 7px 7px 7px red;
     display:inline;
     font-family: 'Marck Script', cursive;
     font-size:124%;
 }
h5{
    display:inline;
    font-family: 'League Script', arial;
    font-size:5vw;
    position:absolute;
    right:-8%;
    top:16%;
    opacity: 0.8;
    color:white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 15px red, 0 0 10px red, 0 0 50px red;
    transition: fade 3s infinite alternate, blink .01s infinite alternate;
    animation: fade 3s infinite alternate;
    transform: rotate(-1deg);
}
span{
    display:inline;
    font-family: 'League Script', arial;
    font-size:5vw;
    position:absolute;
    right:1%;
    top:40%;
    opacity: 0.8;
    color: #cff;
    margin-top:25px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 10px red, 0 0 10px red, 0 0 50px red;
    -webkit-animation: blink .01s infinite alternate;
}
.container{
    width:49vw;
    height:40vh;
}
body{
     background:url(images/cars_28.jpg)
     no-repeat center center fixed;
     background-size: cover;
     height: 90vh;
     width: 90vw;
     position:relative;
 }
.stats{
     display:inline-block;
     position:absolute;
     top:57vh;
     left:3vw;
     width:63vw;
     height:3vh;
 }
.stats div{
    display:inline-block;
    position:relative;
    left:0px;
    bottom:0px;
    margin-left:15px;
    font-size:20px;
    margin-right:1.7vw;
}
#game-area{
    height: 65vh;
    width:58vw;
    position:relative;

 }
.back {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
}
.front {
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
}
.card{
     width:9vw;
     height:14vh;
     display:inline-block;
     position:relative;
     border:5px ridge white;
     margin:5px;

 }
p{
     color: white;
     font-size: 15px;
     text-align: center;
     padding-top:10px;
     font-family:tahoma;
 }
li{
     list-style-type: none;
     text-align: center;
     color: white;
     font-size: 15px;
     font-family:tahoma;
 }
h4 {
     position: relative;
     text-align: center;
     color: white;
     text-shadow: 7px 7px 7px black;
     font-family: 'Marck Script', cursive;
     font-size: 25px;
     margin:0px;
     padding-top:5px;
 }
.block{
     float:left;
     width:375px;
     height:150px;
     background-color:#e74c3c;
     margin: -3px 55px 0px 75px;
     border:5px outset black;
     box-shadow: 10px 10px,-10px -10px #f4f4f4, 0px 0px 5px 5px
 }
button{
     background:url(images/logo.png);
     color:white;
     font-family: 'Marck Script', cursive;
     border:none;
     left:-5px;
     bottom:10px;
     position:relative;
     font-size:16px;
     background-size:100% 100%;
     height:85px;
     background-position-y:4px;
     box-sizing:border-box;
     background-repeat: no-repeat;
     width:120px;
     margin-right:47px;
 }
.buttonpic{
     height:100px;
     width:110px;
     position:absolute;
     bottom:55px;
     left:0px;
     z-index: -5;
 }
.value{
    background-color: transparent;
    color:white;
    font-size:25px;
    display: block;
}

.selected_card {
    visibility: hidden;
}
.matched_card {
     visibility: hidden;
 }
.hide_matched_cards{
    visibility: hidden;
}

audio{
    width:44px;
    height:3px;
    position:relative;
    margin-right:92px;
}
#reset {
    left:25px;
    margin-top:10px;
}
#rascalflatts {
    color: white;
    text-shadow: 7px 7px 7px red;
    display: inline;
    font-family: 'Marck Script', cursive;
    font-size: 23px;
}

.container2 {
    width: 71vw;
}
#counter {
    color: white;
    font-size: 100px;
    width:10vw;
    height:10vh;
    position:relative;
    float:right;
    left:428px;
    top:330px;
}
h6 {
    visibility: hidden;
    position:absolute;
}
@-webkit-keyframes neon1 {
    from {
             text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
         }
    to {
             text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
         }
}
@-moz-keyframes blink {
    70% {
        opacity: 0.7;
    }
}
@-webkit-keyframes blink {
    45% {
        opacity: 0.5;
    }
}
@-moz-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}
@-webkit-keyframes fade {
    40% {
        opacity: 0.8;
    }
    42% {
        opacity: 0.1;
    }
    43% {
        opacity: 0.8;
    }
    45% {
        opacity: 0.1;
    }
    46% {
        opacity: 0.8;
    }
}
@media screen and (min-width:1130px) and (max-width:1130px){
    .stats{
        display:inline-block;
        position:relative;
        bottom:-78px;
        left:20px;
        width:65%;
    }
    .stats div{
        display:inline-block;
        position:relative;
        left:0px;
        bottom:0px;
        margin-left:15px;
        font-size:20px;
        margin-right:20px;
    }
    #extras{
        width:75vw;
        height:75vh;
        display: inline-block;
    }
    h2 {
        font-size: 100%;
    }
    h3{
        font-size:100%;
    }
    .value{
        font-size:15%;
    }
    .front{
        height:100%;
        width:100%;
    }
    .back{
        height:100%;
        width:100%;
    }
    .card{
        height:10vh;
        width:10vw;
    }
    #game-area{
        height:52vh;
        width:57vw;
    }
}


@media screen and (min-width:730px) and (max-width:1130px){
    .stats{
        display:inline-block;
        position:relative;
        width:49vw;
        top:2vh;
    }
    .stats div{
        display:inline-block;
        position:relative;
        left:0px;
        bottom:0px;
        margin-left:2vw;
        font-size:20px;
        margin-right:20px;
    }
    #extras{
        width:71vw;
        top:2vh;
        height:76vh;
        display: inline-block;
    }
    #reset{
        left:25px;
        top:-57vh;
        height:13vh;
        width:49vw;
    }
    h2 {
        font-size: 124%;
    }
    h3{
        font-size:100%;
    }
    .value{
        font-size:2vw;
    }
    .front{
            height:100%;
             width:100%;
         }
    .back{
             height:100%;
             width:100%;
         }
    .card{
             height:10vh;
             width:10vw;
         }
    #game-area {
        height: 52vh;
        width: 57vw;
    }
}

@media screen and (min-width:400px) and (max-width:500px){
    #game-area{
        display:none;
    }
}
@media only screen and (max-width: 376px) {
    body {
        background: black;
    }

    h6 {
        color: white;
        font-size: 100px;
        position: relative;
        visibility: visible;
    }
    h1{
        display:none;
    }
    #game-area{
        width:50vw;
    }
    .stats{
        width:128vw;
        margin-top:19vh;
    }
    .card{
        width:26%;
    }
    .container{
        width:179vw;
    }
}