body {
  margin: 0;
}
header {
  width: 100vw;
  height: 20vh;
  background-color: #125c30;
}
.stats {
  width: 20vw;
  height: 80vh;
  display: inline-block;
  background-color: #479968;
}
.game-area {
  width: 78vw;
  height: 80vh;
  display: inline-block;
  background-color: #6db78b;
  float: right;
}

#logo {
  display: inline-block;
  width: 5%;
  height: 50%;
  border: 1px solid red;
  position: relative;
  top: 25%;
  left: 3%;
  background: url("images/MegaMan-forward_s.jpg") no-repeat;
  background-size: 100% 100%;
}
#game-title {
  display: inline-block;
  width: 30%;
  height: 50%;
  border: 1px solid orange;
  position: relative;
  top: 25%;
  left: 15%;
}
#settings {
  display: inline-block;
  width: 10%;
  height: 50%;
  border: 1px solid yellow;
  position: relative;
  top: 25%;
  left: 25%;
}
#about {
  display: inline-block;
  width: 10%;
  height: 50%;
  border: 1px solid blue;
  position: relative;
  top: 25%;
  left: 35%;
}

.stats > div {
  width: 80%;
  height: 20%;
  border: 1px solid white;
  margin: 30px auto;
}

.card {
  width: 16%;
  height: 33%;
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 800px;
  transition: transform 1.5s;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}
.card:hover {
  transform: rotateY(180deg);
}