header{
    height:150px;
}
header h1{
    display: inline-block;
}

#game-area{
    font-size: 0px;
}
#game-area .card{
    height:200px;
    width:125px;
    border: 1px solid #000;
    display:inline-block;
    margin:5px;
    position: relative;
    cursor: pointer;
}

.card .back,
.card .front{
    height:100%;
    width:100%;
    position: absolute;
}

.card .back{
    z-index: 9999;
    background-color: #ccc;
}
.card .front{
    background-color: #fff;
}
.win {
    height: 100px;
}